---
import Styles from "../components/Styles";
import Counter from "../components/Counter";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="dark light" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + typestyle</title>
		<Styles client:load />
	</head>
	<body>
		<h1>Astro</h1>
		<Counter client:load>Hi, I'm a typestyle Counter</Counter>
	</body>
</html>
